<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    
    <link rel="stylesheet" href="css/main.css">
    
  </head>
  <body ng-app="videoboardApp">
    
    <div class="xcontainer">
      
      <button class="btn btn-primary" video-action video-target="#video" ng-click="play()">Play</button>
      <button class="btn btn-primary" video-action video-target="#video" ng-click="pause()">Pause</button>
      <button class="btn btn-primary" video-action video-target="#video" ng-click="restart()">Restart</button>


      <video id='video' style="width:100%"
      xcontrols preload='none' 
      poster="http://media.w3.org/2010/05/sintel/poster.png">

      <source id='mp4'
        src="http://media.w3.org/2010/05/sintel/trailer.mp4"
        type='video/mp4'>
      <source id='webm'
        src="http://media.w3.org/2010/05/sintel/trailer.webm"
        type='video/webm'>
      <source id='ogv'
        src="http://media.w3.org/2010/05/sintel/trailer.ogv"
        type='video/ogg'>

      <p>Your user agent does not support the HTML5 Video element.</p>
    </video>

    </div>



    <div style="position:absolute; height:120px; bottom:0;left:0;width:500px;background:rgba(0,60,80,.6); color:white; padding:20px; border:solid white 1px; display:none;" 
      bound-video="#video" show-from="4" show-to="9"
      >
      <h4>Hey this is a contextual message. From second 4 to second 9</h4>
    </div>

    <div style="position:absolute; height:120px; top:0;right:0;width:500px;background:rgba(0,0,0,.5); color:white; padding:20px; border:solid white 1px; display:none;" 
      bound-video="#video" show-from="12" show-to="17"
      >
      <h4>And this is too, from second 12 to second 17</h4>
    </div>


    <div style="position:absolute; height:100px; bottom:0;right:0;width:500px;background:rgba(200,30,0,.5); color:white; padding:20px; border:solid white 1px; display:none;" 
      bound-video="#video" show-from="18" show-to="35"
      >
      <h4>Another message from second 18 to second 35. <a href="#" video-action target="#video" ng-click="pause()" ng-show="playing==true">Pause the video from here</a>
        <span ng-show="playing==false">
          <a href="#" video-action video-target="#video" ng-click="play()" >Now let it play</a>
          or
          <a href="#" video-action video-target="#video" ng-click="restart()">Restart it</a>
        </span>
      </h4>
    </div>
    



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->
    

    <!--[if lt IE 9]>
    <script src="lib/es5-shim/es5-shim.js"></script>
    <script src="lib/json3/lib/json3.min.js"></script>
    <![endif]-->

    
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <!--
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    
    -->
    
      
      <script src="js/app.js"></script>
      <script src="js/directives.js"></script>
      <!--
      <script src="js/controllers/main.js"></script>
    -->
      
</body>
</html>
